.site-footer a[rel="nofollow"] {
  display: none;
}

.main-content {
  padding-top: 0px;
}

.main-content .shopify-section:not(:first-of-type) {
  margin-top: 0;
}

.main-content .shopify-section:not(:first-of-type) [data-section-id] {
  padding-top: 60px;  
}

#CartDrawer {
  z-index: 2147483645;
}

#CartDrawer .cart__checkout {
  background: #E2AF7D;
}

#CartDrawer .cart__checkout:hover {
  background: #D5C1A8;
}

.newsletter * {
  font-family: 'Andale Mono';
}

.newsletter__submit {
  background: #090C23;
}

.product--wrapper {
  max-width: none !important;
  max-height: none !important;
}

.product--image {
  max-width: none !important;
  max-height: none !important;
}

.product-single__description {
  font-family: 'Andale Mono', 'Garamond', 'Baskerville', 'Baskerville Old Face';
}

.grid-product__image-link {
  background-color: transparent;
}

@media screen and (min-width: 591px) {
  .product-single__description {
    margin-top: 0;
  }
}

@media screen and (min-width: 769px) {
  .site-nav__link--icon .icon {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 591px) {
  .product--wrapper {
    margin: 0;
  }
}

